body {
  margin: 0px;
  overflow-x: hidden;
}
#navbar {
  display: flex;
  width: 100%;
  background-color: #032541;
  color: #ffffff;
  height: 73px;
  font-size: 18px;
  /* border: 1px solid blue; */
}
/* #navbar div { */
  /* border: 1px solid blue; */
/* } */
#nav1 {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-left: 3%;
  align-items: center;
}
#nav2 {
  display: block;
  width: 300px;
  justify-content: space-evenly;
  margin-left: 28%;
  padding: 22px;
}
#nav3 {
  display: flex;
  width: 170px;
  justify-content: space-between;
  align-items: center;
}
#sub {
  border-radius: 5px;
  border: 0px;
  background-color: #1f80e0;
  color: white;
  font-size: 13px;
  padding: 0px 10px 0px 10px;
  height: 25px;
}

#search {
  width: 300px;
  height: 20px;
}

#list {
  display: block;
  border: 1px solid #192133;
  height: 350px;
  width: 310px;
  display: none;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #0c111b;
}
#list div {
  margin: 5px;
}

#names {
  color: blue;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #192133;
}

#box {
  display: flex;
  border: 1px solid #192133;
  height: 100px;
  gap: 5px;
  width: 290px;
  border-radius: 5px;
  background-color: #192133;
  color: white;
}
#box img {
  height: 100%;
  width: 35%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#details {
  display: block;
  font-size: 16px;
}
#box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/* Display Area styles*/

#display {
  /* border: 1px solid blue; */
  margin: 70px;
  display: flex;
  height: 500px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

#movieimage {
  /* border: 1px solid blue; */
  height: 100%;
  width: 35%;
}

#moviedetails {
  /* border: 1px solid red; */
  height: 100%;
  width: 65%;
  padding: 10px 40px 10px 40px;
  box-sizing: border-box;
  background-color: #032541;
}

#movieimage img {
  width: 100%;
  height: 100%;
}
#moviename {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: -1%;
}
#overview {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
}

#parent {
  position: relative;
}
#list {
  position: absolute;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}
